<% ojt_links.each do |ojt_link| %>
    <div class="link-box">
        <p class="icon_button">
            <%= link_to edit_link_path(ojt_link) do%>
                <i class="fa fa-edit"></i>
            <% end %>
            <span class="not_favorited" id="fav_<%= ojt_link.id %>" data-id="<%= ojt_link.id %>">
                <i class="fa fa-bookmark-o book-mark-icon"></i>
            </span>
        </p>

        <a href="<%= ojt_link.url %>">
            <%= image_tag 'ojt.png', size: '40x40', class: "link-img" %>
            <p class="link-title"><%= ojt_link.title %></p>
        </a>
    </div>
<% end %>