<header>
  <%= form_with url: links_path, method: :get, class: "search_container" do |f| %>
    <%= f.text_field :search %>
    <i class="fa fa-search search-icon"><%= f.submit 'Search', name: nil %></i>
  <% end %>

  <div class='header_right'>
    <%= link_to list_links_path do %>
      <%= image_tag 'bookmark.png', size: '40x35', class: "book-icon" %>
      <p class="book-icon-list">ブックリスト</p>
    <% end %>

    <nav id="gnav">
      <ul>
        <li class="toggle">
          <a href="">
            <%= image_tag 'create.png', size: '35x25' %>
            <span class="create-icon-list">作成</span>
          </a>
          <div class="menu">
            <ul class="menu_inner">
              <li><a href=""><%= link_to "タグ作成", new_tag_path %></a></li>
            </ul>
            <ul class="menu_inner">
              <li><a href=""><%= link_to "リンク作成", new_link_path %></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class='page_content'>
  <div class='content-center'>
    <table class="table side-bar">
      <tr>
        <th class="tag-list">TAG LIST</th>
      </tr>
      <tr>
      	<% @tags.each do |tag| %>
          <td class="tag-name" data-id="<%= tag.id %>">
            <%= link_to tag.name, links_path(id: tag.id), remote: true, class: "tag-text_name" %>
          </td><br>
        <% end %>
      </tr>
	  </table>

  <div class='tabs'>
    <div class='tab-buttons'>
      <span class='content1'>S1</span>
      <span class='content2'>S2</span>
      <span class='content3'>OJT</span>
      <div id='lamp' class='content1'></div>
   </div>
      
   <div class='tab-content'>
      <div id="tab1" class='content1'>
        <%= render "s1", s1_links: @s1_links %>
      </div>
     
     　<div id="tab2" class='content2'>
        <%= render "s2", s2_links: @s2_links %>
      </div>
     
      <div id="tab3" class='content3'>
        <%= render "ojt", ojt_links: @ojt_links %>
      </div>
    </div>
  </div>
</div>