<div class="page_top">
  <h2 class="page_title">タグの作成</h2>
    <div class="new_box">
      <%= form_with model: @tag do |f| %>
        <%= f.text_field :name , class: 'field_text' %>
        <%= f.submit '作成', class: 'create_button' %>
      <% end %>
    </div>
</div>
<div class="tag_content">
  <p class="tag_list_title">タグ一覧</p>
  <% @tags.each_with_index do |tag, i| %>
    <%= form_with model: tag do |f| %>
      <div class="tag_form">
        <div>
          <span><%= i += 1 %></span>
          <span id="tag_id_<%= i %>" class="tag_name"><%= tag.name %></span>
          <%= f.text_field :name, id: "name_id_#{i}", class: 'name_field' %>
        </div>
        <div class="right_button">
          <button type='button' class="id_<%= i %>" id="edit_id_<%= i %>">編集</button>
          <%= link_to '削除', tag_path(tag), method: :delete, data: { confirm: "このタグを削除しますか？" }, id: "delete_id_#{i}", class: "tag_delete" %>
          <%= f.submit '更新', class: "id_#{i}", id: "update_id_#{i}"%>
          <span type='button' id="back_id_<%= i %>" class="back_button">戻る</span>
        </div>
        <% end %>
      </div>
  <% end %>
</div>

